@media only screen and (max-width: 425px) {
  .link {
  }
  /* header img {
    max-width: 33%;
  } */
}
/* RESPONSIVE FOR TABLET */
@media only screen and (min-width: 768px) {
  .link {
    display: inline-block;
  }
  header img {
    max-width: 35%;
  }
}
/* RESPONSIVE FOR DESKTOP */
@media only screen and (min-width: 1024px) {
  header img {
    max-width: 35%;
  }
}
