/* Fixing size of logo for extremely small screens */
@media only screen and (max-width: 415px) {
  .logo img {
    width: 230px;
  }
}

/* RESPONSIVE FOR TABLET */
@media only screen and (min-width: 768px) {
  .link {
    display: inline-block;
    font-size: 1em;
  }
  header {
    height: 30%;
  }

  .nav-button {
    display: none;
  }

  div.banner {
    font-size: 1em;
    height: 50px;
    text-align: center;
    padding-top: 13px;
    border: 1px black solid;
  }

  div.blurb {
    /* padding-top: 20%; */
    height: 700px;
  }
  div.blurb h1 {
    /* padding-top: 20%; */
    font-size: 2rem;
  }

  div.blurb p {
    font-size: x-large;
    padding: 20px 27px;
    font-size: 0.9em;
    line-height: 15px;
    text-shadow: 2px 2px 10px #ecd582;
  }

  div.projects {
    /* justify-content: center; */
  }

  div.projects ul {
    /* height: fit-content; */
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    padding-bottom: 40px;
  }
  .item {
    width: 307px;
    height: 300px;
    margin: 30px auto;
  }
  div.projects li p {
    top: 262px;
  }
}
/* RESPONSIVE FOR DESKTOP */
@media only screen and (min-width: 1024px) {
  header {
    height: 30%;
  }

  div.banner {
    font-size: 1.3em;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    border: 1px black solid;
  }

  div.blurb p {
    font-size: x-large;
    padding: 20px 75px;
    font-size: 1.1em;
    line-height: 22px;
    letter-spacing: 0.7px;
    word-spacing: 1.4px;
  }

  div.projects ul {
    /* height: fit-content; */
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    padding-bottom: 40px;
  }

  /* #card1,
  #card2,
  #card3,
  #card4,
  #card5,
  #card6 {
    width: 286px;
    height: 263px;
    margin: 30px auto;
  }
  div.projects li p {
    top: 225px;
  } */
}

/* RESPONSIVE FOR EXTRAORDINARY LARGE SCREENS */
@media only screen and (min-width: 1180px) {
  div.projects ul {
    max-width: 1000px;
  }
}
