/* RESPONSIVE FOR TABLET */
@media only screen and (min-width: 768px) {
  .link {
    display: inline-block;
    font-size: 1em;
  }
  header {
    height: 30%;
  }
  header img {
    max-width: 35%;
  }
  div.banner {
    font-size: 1em;
    height: 50px;
    text-align: center;
    padding-top: 13px;
    border: 1px black solid;
  }
  #card1,
  #card2,
  #card3,
  #card4,
  #card5,
  #card6 {
    width: 307px;
    height: 300px;
    margin: 30px auto;
  }
  div.projects li p {
    top: 262px;
  }
}
/* RESPONSIVE FOR DESKTOP */
@media only screen and (min-width: 1024px) {
  header {
    height: 30%;
  }
  header img {
    max-width: 35%;
  }
  div.banner {
    font-size: 1.3em;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    border: 1px black solid;
  }

  div.projects ul {
    /* height: fit-content; */
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    padding-bottom: 40px;
  }

  #card1,
  #card2,
  #card3,
  #card4,
  #card5,
  #card6 {
    width: 286px;
    height: 263px;
    margin: 30px auto;
  }
  div.projects li p {
    top: 225px;
  }
}

/* RESPONSIVE FOR EXTRAORDINARY LARGE SCREENS */
@media only screen and (min-width: 1180px) {
  div.projects ul {
    max-width: 1000px;
  }
}
