@media only screen and (max-width: 425px) {
  .link {
  }
  /* header img {
    max-width: 33%;
  } */
}
/* RESPONSIVE FOR TABLET */
@media only screen and (min-width: 768px) {
  .link {
    display: inline-block;
    font-size: 1em;
  }
  header {
    height: 30%;
  }
  header img {
    max-width: 35%;
  }
  div.banner {
    font-size: 1em;
    height: 50px;
    text-align: center;
    padding-top: 13px;
    border: 1px black solid;
  }
}
/* RESPONSIVE FOR DESKTOP */
@media only screen and (min-width: 1024px) {
  header {
    height: 30%;
  }
  header img {
    max-width: 35%;
  }
  div.banner {
    font-size: 1.3em;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    border: 1px black solid;
  }
}
