* {
  margin: 0;
  /* padding: 20; */
  box-sizing: border-box;
  border: 1px black solid;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #4f4f4f; */
  background: linear-gradient(wheat, transparent);
}

nav {
  width: 50%;
  /* display: flex; */
  /* justify-content: space-around; */
  /* align-items: flex-end; */
}

nav ul {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

div.banner {
  height: 50px;
  text-align: center;
  padding-top: 13px;
}

div.blurb {
  height: 400px;
  text-align: center;
}
