* {
  margin: 0;
  /* padding: 20; */
  box-sizing: border-box;
  border: 1px black solid;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #4f4f4f; */
  background: linear-gradient(black, #fce79e, transparent);
}

nav {
  width: 50%;
  /* display: flex; */
  /* justify-content: space-around; */
  /* align-items: flex-end; */
}
.link {
  display: none;
  color: whitesmoke;
  text-shadow: 2px 2px black;
  font-size: 1.2em;
  font-family: "Varela Round", sans-serif;
}

nav ul {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

div.banner {
  font-size: 0.8em;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  border: 1px black solid;
}

div.blurb {
  height: 400px;
  text-align: center;
}

header img {
  max-width: 50%;
}
