* {
  margin: 0;
  /* padding: 20; */
  box-sizing: border-box;
  border: 1px black solid;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4f4f4f;
}

header .menu-icon {
  width: 25px;
  height: 25px;
  background: url(https://mars.nasa.gov/assets/ui_sprite@2x.png) 0 0;
  background-size: 300px;
  z-index: 100;
}

nav {
  width: 50%;
  /* display: flex; */
  /* justify-content: space-around; */
  /* align-items: flex-end; */
}

ul {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

div.banner {
  height: 50px;
  text-align: center;
  padding-top: 13px;
}
